__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log

.Python
.python-version
.venv/
venv/
env/
ENV/

tmp/
temp/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/

.DS_Store

# custom ignore
results/
downloads/
